body {
	margin: 0;
	background-color: powderblue;
	overflow: hidden;
}
.menu {
	background-color: #333;
	text-align: center;
	padding: 9px;
	padding-left: 0px;
	margin: 0px;
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 1;
	display: inline-block;
	font-size: 40px;
	font-family: monospace;
	color: white;
}

.menu:hover {
	color: #4CAF50;
}

.box {
	margin: 0 400px;
	border: 3px solid black;
	border-top: 1px solid black;
}

.display {
	padding: 47px 50px;
	background-color: #000;
	font-family: monospace;
	font-size: 30px;
	text-align: right;
}

.plate {
	padding: 0px 10px;
	padding-bottom: 0;
	background-color: #999;
	border-top: 3px solid black;
}

th {
	padding: 10px 12px;
}

button {
	font-size: 60px;
	width: 146px;
	height: 100px
}

.equality {
	width: 327px;
	font-size: 80px;
	text-align: center;
}

#on {
	position: fixed;
	left: 50px;
	top: 350px;
	width: 150px;
}

#off {
	position: fixed;
	left: 50px;
	top: 455px;
	width: 150px;
}
