<<<<<<< HEAD
@font-face{
  font-family: 'montserrat' ;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf') ;
}
@font-face{
  font-family: 'montserrat' ;
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.ttf') ;
=======
@font-face{
  font-family: 'montserrat' ;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf') ;
}
@font-face{
  font-family: 'montserrat' ;
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.ttf') ;
>>>>>>> e9ee5ae0d5e6529124f33a297950aa81d2b075ad
}