@font-face{
    font-family: 'Myriad Pro';
    font-weight: 400;
    src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Myriad Pro';
    font-weight: 600;
    src: url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
}
@font-face{
    font-family: 'Myriad Pro';
    font-weight: 700;
    src: url('../fonts/MyriadPro-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Tahoma';
    font-weight: 400;
    src: url('../fonts/ofont.ru_Tahoma.ttf') format('truetype');
}
