@import 'font.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Myriad Pro';
    text-decoration: none;
    font-weight: 400;
}
.header{
    width: 100%;
    min-height: 484px;
    background: white url('../img/background.png') no-repeat center;
    
}
.header__center,
.content__center{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    border: 3px solid red;
    
}
.navbar{
    width: 100%;
    min-height: 32px;
    width: 970px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navbar__flex{
    margin-top: 443px;
}
.navbar__list{
    display: flex;
    background-color: #02a4d1;
}
.navbar__list a{
    display: flex;
    padding: 9px 35px ;
    color: white;
    font-size: 19px;
    letter-spacing: -0.5px;
}
.navbar__list a:hover{
    background-color: #04c2e2;
}
/* content */
.content{
    width: 100%;
    min-height: 1065px;
}
.item{
    display: flex;
    margin: 60px 0 58px 0;
}
.item__flex{
    display: flex;
    justify-content: space-between;
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
.item__text{
    margin-left: 10px;
}
.item__text h3{
    font-size: 17px;
    font-weight: 400;
    color: #4e4e4e;
    letter-spacing: -1px;
}
.item__text p{
    font-size: 11px;
    font-weight: 400;
    color: #868787;
    font-family: 'Tahoma';
    margin-bottom: 24px;
}
.item__text a{
    font-size: 10px;
    font-weight: 400;
    font-family: 'Tahoma';
    color: #25b4dc;
    text-decoration: underline;
}
.content__central{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: space-between;
    color: #00a0c9;
}