@import 'font.css';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: '';
    font-weight: 400;
    box-sizing: border-box;
}
/* header */
.header{
    width: 100%;
    background: #322E41 url('../img/background.jpg') no-repeat center;
}
.header__center{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 565px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #322E41;
}
.menu{
    display: flex;
    justify-content: space-between;
}